<div class="mentor-container">
  <h1>New Technical mentor</h1>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">First Name</label>
        <input type="email" [(ngModel)]="mentor.first_name" name="mentor.first_name" class="form-control"
          id="inputAddress" placeholder="first name" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputAddress">Last Name</label>
        <input type="email" [(ngModel)]="mentor.last_name" name="mentor.last_name" class="form-control" id="inputAddress"
          placeholder="last name" required>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Email Address</label>
        <input type="email" [(ngModel)]="mentor.email" name="mentor.email" class="form-control" id="inputAddress"
          placeholder="technicalmentor@email.com" required>
      </div>
  
      <div class="form-group col-md-6">
        <label for="inputAddress">Username</label>
        <input type="email" [(ngModel)]="mentor.user_name" name="mentor.user_name" class="form-control" id="inputAddress"
          placeholder="Username" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputAddress">Cohort</label>
      <select class="custom-select" [(ngModel)]="mentor.cohort" name="mentor.cohort" required>
        <option selected *ngFor='let cohort of cohorts' value={{cohort.id}}>{{cohort.cohort_name}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="inputAddress">Bio</label>
      <input type="email" [(ngModel)]="mentor.bio" name="mentor.bio" class="form-control" id="inputAddress"
        placeholder="bio" required>
    </div>
    <div class="form-group">
      <label for="inputAddress">Phone</label>
      <input type="email" [(ngModel)]="mentor.phone" name="mentor.phone" class="form-control" id="inputAddress"
        placeholder="Phone" required>
    </div>

    <div class="form-group">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="sure_check" ng-model="checked" required>
        <label class="form-check-label" for="gridCheck">
          I am sure all data entered is correct
        </label>
      </div>
    </div>
    <button type="submit" (click)="RegisterMentor()" ng-model="button" ng-disabled="!checked" class="btn"
      id="register_button">Register Mentor</button>
  </form>
</div>
