<div class="text-center">
    <h1 class="heading">Pairs</h1>
    <div class="container">
    <aside class="pair-card">
        <header>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="pair-image">
            <h1>John Doe</h1>
        </header>
        <header>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="pair-image">
            <h1>John Doe</h1>
        </header>
    </aside>
    <aside class="pair-card">
        <header>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="pair-image">
            <h1>John Doe</h1>
        </header>
        <header>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="pair-image">
            <h1>John Doe</h1>
        </header>
    </aside>
    <aside class="pair-card">
        <header>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2810%29.jpg" class="pair-image">
            <h1>John Doe</h1>
        </header>
        <header>
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%2831%29.jpg" class="pair-image">
            <h1>John Doe</h1>
        </header>
    </aside>
    </div>
</div>