<div class="student-container">
  <h1>New Student</h1>
  <div class="table-responsive-md">
    <table class="table table-hover">
      <caption>Pairs for week 2</caption>
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Student 1</th>
          <th scope="col">Student 2</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark odongo opndi</td>
          <td>Otto</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry the Bird</td>
          <td>Otto</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
