 /*-----------------------------dashboard-------------------------------------------------*/
 main {
    flex: 1;
    padding: 0 2rem 1rem;
    background: #fafafa;
  }
  
  main h1 {
    height: 70px;
    margin: 0 0 1.4rem;
    line-height: 66px;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid #ea4C89;
    background: #fafafa;
    text-align: center;
  }
  
  .flex-grid {
    display: flex;
    min-height: 175px;
    margin-top: 2rem;
  }
  
  .flex-grid div:last-child {
    margin-right: 0;
  }
  
  .flex1, .flex2 {
    flex-wrap: wrap;
  }
  
  .flex2:first-child {
    min-height: 175px;
  }
  
  .flex-grid .parentdiv {
    flex: 1;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    background: #fff;
  }
  
  .flex2 .parentdiv:first-child {
    flex: 1;
    margin: 0 20px 20px 0;
    border: 1px solid #ddd;
    background: #fff;
  }
  
  .pairdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.4rem 3rem;
  }
  
  .pair-image{
    float: left;
    width: 9rem;
    height: 9rem;
    margin-right: 1rem;
    padding: 2px;
    border-radius: 12px;
    overflow: hidden;
  }
  
  @media screen and (max-width: 600px) {
    .pair-image {
      margin: 0 0 1rem 0;
    }
    .pairdiv{
      justify-content: center;
    }
  }
  .pair-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .pair-info .pair-data {
    margin: 0.2rem 0;
  }
  .pair-info .pair-data span{
    font-weight: 600;
    margin-right: 0.8rem;
  }
  .pair-info .pair-data a{
    color: inherit;
  }
  .pair-info .pair-data a:hover{
    color: #ea4C89;
  }
  .flex-grid div h2,
  .flex2 div h2 {
    padding: 12px 15px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    background: #fafafa;
  }
  
  .flex1,
  .flex2,
  .data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }
  
  .flex1 {
    justify-content: space-evenly;
  }
  
  .data {
    flex-direction: column;
    text-align: center;
    font-size: 2rem;
    font-weight: 900;
    margin: 2rem 5rem;
    
  }
  
  @media screen and (max-width: 728px) {
    .data {
      margin: 2rem 0rem;
    }
  }
  
  .data span {
    font-size: 1rem;
    font-weight: 500;
  }
  
  .fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  
  .quote{
    margin: 2rem 3rem;
    font-size: 1rem;
  }
  
  q:before,
  blockquote:before {
    content: open-quote;
  }
  
  q:after,
  blockquote:after {
    content: close-quote;
  }
  
  q:before,
  q:after {
    color: #ea4C89;
    font-size: 1.2rem;
    font-weight: 900;
  }
  

  .not-yet-assigned{
    padding: 2rem;
  }