<main>
  <h1>Dashboard</h1>
  <div class="flex1">
    <div class="data fade-in"><span>COHORT</span>MC28</div>
    <div class="data fade-in"><span>STUDENTS</span>126</div>
  </div>
  <div class="flex2">
    <div>
      <h2>Headline</h2>
    </div>
    <div class="calendar-wrapper">
      <button id="btnPrev" type="button">Prev</button>
      <button id="btnNext" type="button">Next</button>
      <div id="divCal"></div>
    </div>
  </div>
  <div class="flex-grid">
    <div>
      <h2>Headline</h2>
    </div>
  </div>
  <footer class="text-center">
    <div class="mb-2">
      <small>&#169; Moringa School 2020</small>
    </div>
  </footer>
</main>
